.profile-container {
    background: #0d0d0f;
    min-height: 100vh;
    padding-top: 110px;
    display: flex;
    justify-content: center;
}

.profile-box {
    background: #1a1a1d;
    width: 95%;
    max-width: 550px;
    padding: 2rem 2.5rem;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.profile-title {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.profile-label {
    color: white;
    font-size: 0.95rem;
    margin-top: 8px;
}

.profile-input {
    padding: 0.75rem 1rem;
    background: #2a2a2e;
    color: white;
    border: 1px solid #333;
    border-radius: 6px;
    font-size: 1rem;

    &:focus {
        border-color: #5044e5;
    }
}

.profile-save-btn {
    margin-top: 12px;
    background: #5044e5;
    border: none;
    padding: 0.9rem 0;
    border-radius: 6px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background: #453acf;
    }
}

.profile-msg {
    color: #3b82f6;
    margin-top: 10px;
    text-align: center;
}


.hero-topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0d0d0f;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 10px;
    }

    .topbar-logo {
        height: 40px;
    }

    .topbar-logo-text {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }
}