.theme-toggle-btn {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.theme-toggle-icon {
    width: 21px;
    height: 21px;
    padding: 6px;
    border: 1px solid #6b7280;
    border-radius: 9999px;
}
